* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.4fr 2.3fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer"; 
  }

header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "imagen_header1 imagen_header2 links";
    

}

.imagenh1 {
    grid-area: imagen_header1;

}


.imagenh2 {
    grid-area: imagen_header2;



}




header ul {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    padding: 10px;

}


.links { grid-area: links; }










